header{
    background-color: black;
    color : whitesmoke ;
    width: 90%;
    height: 8vh;
    padding: 0 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 1%;
    left: 50%;
    translate: -50%;
    margin: auto;
    
    border-radius: 50px;

}

#logo{
    font-size: 1.4rem;
    font-weight: 900;
    font-style: oblique;
}
nav{
    height: 100%;
    margin-left: 100px;
    display: flex;
    gap :70px;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

    border: 2px solid black;
    padding: 3px 15px;
    border-radius: 15px;
}
a:hover{
    border: 2px solid white;
    translate: all 0.4s ease;
}
header button{
    padding: 5px 15px; 
    border-radius: 10px;
    font-weight: 600;
    font-family: serif;
    font-size: 1.1rem;
    border : none;
    border: 2px solid black;
    cursor: pointer;
}
header button:hover{
    border: 2px solid white;
    color: white;
    background: transparent;
    translate: all 0.4s ease;
}