#hero-section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 150px ;

    background-image: url("../images/heroSectionBGImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landingContainer{
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

#landingContainer h1{
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#landingContainer p{
    font-size: 18px;
}