.destinationPriceSection{
    min-height: 90vh;
    width : 100%;
    background-color: #95a6b5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.priceSectionHeading{
    font-size: 56px;
    font-style: italic;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 25px;
}
.priceSection{
    width: 90%;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.priceCard{
    width : 30%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    color: white;
    border-radius: 25px;
    padding: 25px 0px;
    background-color: black;
}
.priceCard img{
    width: 90%;
    height: 250px;
    border-radius: 10px;

}
.priceCard h2{
    font-size: 20px;
    text-align: center;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    color: gainsboro;
    line-height: 25px;
}
.priceCard p{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.priceCard button{
    width: 70%;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    border: 2px solid rgba(0 ,0 ,0, o.66);
    padding: 10px 0;
    cursor: pointer;
}